/* Media Queries */

/* Common styles across all screen sizes */
.input-field,
.btn {
  font-size: 14px; /* Base font size */
}

.scroll {
  max-height: 200px; /* Base scroll height */
}

/* Small screens and mobile devices */
@media (max-width: 767px) {
  .header .gif,
  .btn-text {
    display: none;
  }

  .btn,
  #deleteButton {
    padding: 10px;
    justify-content: center;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .input-field,
  .btn {
    font-size: 16px;
  }

  .scroll {
    max-height: 250px;
  }
}

/* Desktops and larger screens */
@media (min-width: 1025px) {
  .header h2 {
    font-size: 24px;
  }

  .input-field,
  .btn {
    font-size: 18px;
  }

  .scroll {
    max-height: 400px;
  }
}